Finance
<div ng-app="financeApp">
	<div ng-controller="finController">
		<ul ng-repeat="t in test">
		<li>{{t.testes}}</li>
	</ul>
	<input type="text" name="term" ng-model="term">
	<button ng-click="lookup(term)">Search</button>

	<input type="text" name="symbol" ng-model="symbol">
	<button ng-click="getQuote(symbol)">Quote</button>

	</div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/controllers/finance.js"></script>
<script src="/js/factories/finance.js"></script>