<!DOCTYPE html>
<head>
	<title>John's Angular Stuff</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<ul class="menu">
		<li><a href="/index">Index</a></li>
		<li><a href="/index2">Index2?</a></li>
		<li><a href="/angular">Angular</a></li>
		<li><a href="/movies">Movies</a></li>
		<li><a href="/finance">Finance</a></li>
		<li><a href="/test">Test</a></li>
		<li><a href="/music">Music</a></li>
		<li><a href="/imgur">Imgur Crap</a></li>
		<li><a href="/calendar">Calendar</a></li>
		<li><a href="/twitter">Twitter</a></li>
		<li><a href="/calendar2">Calendar2</a></li>
	</ul>

[[yield]]

</body>
</html>