
<div ng-app="twitterApp">
	<div ng-controller="twitterController">

		<button ng-click="test()">TEST</button>

		<a href="https://api.twitter.com/oauth2/token">LOGIN</a>

	</div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/controllers/twitter.js"></script>
<script src="/js/factories/twitter.js"></script>
<script src="/node_modules/oauth-1.0a/oauth-1.0a.js"></script>
<script src="/node_modules/oauth-signature/dist/oauth-signature.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>